body {
  font-family: Arial, Helvetica, sans-serif;
  color: black;
}

img {
  width: 100%;
  height:100%;
	margin:3px;
	padding:3px;
}


#contentArea {
	padding: 30px;
  text-align: justify;
}



.leftImage {
	float:left;
	object-fit: cover;
  width: 430px;
  height: 300px;
}
.rightImage {
	float:right;
	object-fit: cover;
	width: 430px;
  height: 600px;
}

fieldset {
  margin:5px;
  padding:5px;;
  border:solid 2px whitesmoke;
}

legend {
  background-color: lightgray);
  text-align: center;
  width: 100px;
}

input, select, textarea {
  border: none;
  outline: none;
}

#title {
  width: 350px;
}

#comments2 {
  width: 150px;
}

#buddhaHead {
  width: 300px;
  height: 470px;
  margin-top: 50px;
}

#button {
  text-align: center;
}

.nameError, .emailError, .commentsError{
	margin-left: 10px;
	color:red;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 1500%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  -webkit-animation-name: fadeIn; /* Fade in the background */
  -webkit-animation-duration: 0.4s;
  animation-name: fadeIn;
  animation-duration: 0.4s
}

/* Modal Content */
.modal-content {
  position: fixed;
  bottom: 0;
  background-color: #fefefe;
  width: 100%;
  height:15%;
  -webkit-animation-name: slideIn;
  -webkit-animation-duration: 0.4s;
  animation-name: slideIn;
  animation-duration: 0.4s
}

/* The Close Button */
.close {
  color: white;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.modal-header {
  padding: 2px 16px;
  background-color: #5584ac;
  color: white;
}

.modal-body { 
  padding: 2px 16px;
}

.modal-footer {
  padding: 2px 16px;
  background-color: #5584ac;
  color: white;
  height:15%;
}

/* Add Animation */
@-webkit-keyframes slideIn {
  from {bottom: -300px; opacity: 0} 
  to {bottom: 0; opacity: 1}
}

@keyframes slideIn {
  from {bottom: -300px; opacity: 0}
  to {bottom: 0; opacity: 1}
}

@-webkit-keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}

@keyframes fadeIn {
  from {opacity: 0} 
  to {opacity: 1}
}